/.idea/
/.vscode/
/vendor/
/node_modules/
/.env
/.env.local
/.env.*.local
/.DS_Store
/.sass-cache/
/.cache/
/.parcel-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.phar
/.phpunit.result.cache
/.history/
/.sass-cache/
Thumbs.db
desktop.ini
/.cache/
/.grunt
coverage/
build/
dist/
/.idea/
*.log
*.sql